---
import { render, type CollectionEntry } from "astro:content";
import Badge from "@/components/Badge.astro";
import { Button } from "@/components/ui/button";

interface Props {
  index: number;
  project: CollectionEntry<"projects">;
}

const { index, project } = Astro.props;
const { Content } = await render(project);

const patternUrls = [
  "bg-[url(/src/assets/random-shapes.svg)]",
  "bg-[url(/src/assets/overlapping-circles.svg)]",
  "bg-[url(/src/assets/anchors-away.svg)]",
];
---

<div
  class="dark:bg-gray-700 rounded-lg overflow-hidden flex flex-col h-full border dark:border-transparent"
>
  <div class=`h-40 ${patternUrls[index]} bg-repeat dark:bg-gray-100`></div>
  <div class="p-4 space-y-2 flex flex-col grow">
    <h3 class="font-semibold dark:text-white">{project.data.title}</h3>
    <div class="text-sm text-gray-600 dark:text-gray-300">
      <Content />
    </div>
    <div class="flex flex-wrap gap-2">
      {project.data.tags?.map((tag: string) => <Badge variant="teal">{tag}</Badge>)}
    </div>
    {project.data.url ? (
      <a href={project.data.url} target="_blank" class="mt-auto">
        <Button variant="outline" size="full">
          <span class="whitespace-nowrap overflow-hidden text-ellipsis">Visit Site</span>
        </Button>
      </a>
    ) : project.data.githubUrl ? (
      <a href={project.data.githubUrl} target="_blank" class="mt-auto">
        <Button variant="outline" size="full">
          <span class="whitespace-nowrap overflow-hidden text-ellipsis">View on Github</span>
        </Button>
      </a>
    ) : null}
  </div>
</div>
